SonED2 Projects/temp.dat
SonED2 v1.0x Projects/temp.dat
SonLVL INI Files/dllcache
SonLVL INI Files/SonLVL.log
sonic.lst
errors.txt
s1built.bin
s1built.prev.bin
/OST
/SONIC_MSU-MD_ArcadeTV
RA_SONIC.bat
/ROMS
s1built.cue
s1built-MV.cue
SoundPack_Morten_Veiga.bin
SoundPack_Sonic_Masa.bin
readme.url